---
layout: default
slug: archive
title: Archive
---

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1 main-content" id="archive">
      <h1>Archive</h1>
      <hr style="clear:both" />
        {% for cat in site.categories %}
          <h3 id="{{ cat[0] }}">{{ cat[0] | capitalize  }}</h3>
            {% for post in cat[1] %}
              <li>
                <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time> » 
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
              </li>
            {% endfor %}
        {% endfor %}
      <hr style="clear:both" />
    </div>
  </div>
</div>
