<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body>
    <!-- Docs master nav -->
    {% include nav-main.html %}

    <!-- Page content of course! -->
    <div class="page-content">
      {{ content }}
    </div>

    <a id="btt" class="btn btn-default" href="#">
      <i class="fa fa-angle-double-up"></i> Top
    </a>

    <!-- JS and analytics only. -->
    {% include footer.html %}
    <script>
    $(document).ready(function(){
      // hide #btt first
      $("#btt").hide();
      // fade in #btt
      $(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 200) {
            $('#btt').fadeIn();
          } else {
            $('#btt').fadeOut();
          }
        });
        // scroll body to 0px on click
        $('#btt').click(function () {
          $('body,html').animate({
            scrollTop: 0
          }, 500);
          return false;
        });
      });
    });
    </script>
  </body>
</html>
