---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-9 col-md-offset-1 main-content" id="post" role="main">
      <article class="content">
        <div id="post-meta">
          Category:
          {%for cg in page.categories%}
          <!--<a href="/category.html#{{cg}}">{{cg}}</a>-->
          <a href="#">{{ cg }}</a>
          {%if forloop.index < forloop.length %}
          ,
          {%endif%}
          {%endfor%}
          &emsp;&emsp;&emsp;&emsp;
          Tags: {{ page.tags | join: ', ' }}
          &emsp;&emsp;&emsp;&emsp;
          <time date="{{ page.date }}">{{ page.date|date: "%Y-%m-%d"}}</time>
        </div>
        <div id="post-title" class="page-header">
          <h2>{{ page.title }}</h2>
        </div>

        {{ content }}

        <div class="post-eof"><b>&lsaquo;end&rsaquo;</b></div>
        <hr style="clear:both" />

        <div class="next-post-link">
          <ul class="pager">
          {%if page.previous%}
            <li class="previous">
              <a class="pull-left" href="{{page.previous.url}}"><i class="fa fa-chevron-circle-left"></i> {{page.previous.title}}</a>
            </li>
          {%endif%}
          {%if page.next%}
            <li class="next">
              <a class="pull-right" href="{{page.next.url}}">{{page.next.title}} <i class="fa fa-chevron-circle-right"></i></a>
            </li>
          {%endif%}
          </ul>
        </div>
        <hr style="clear:both" />
        <div id="disqus_container">
          <a href="#" class="comment btn btn-default btn-lg btn-block" onclick="return false;">加载评论</a>
          <div id="disqus_thread"></div>
        </div>
        <script type="text/javascript">
            $('#disqus_container .comment').on('click', function() {
              var me = this;
              var s = $(me).text();
              if (s == '隐藏评论') {
                $(me).html('显示评论');
                $('#disqus_thread').hide('slow');
                return;
              }
              else if (s == '显示评论') {
                $(me).html('隐藏评论');
                $('#disqus_thread').show('slow');
                return;
              }
              else {
                $(me).html('加载中...');
                setTimeout(function() {
                  $(me).html('隐藏评论');
                  $('#disqus_container').show();
                }, 3500);
              }
              var disqus_shortname = 'sunsd';
              //(function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                //(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                $('head').append(dsq);
              //})();
              //setTimeout(function() {
                //$(me).prev().remove();//注意引用关系，最后删除me.
                //$(me).remove();
              //}, 2000);
            });
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </article>
    </div>
  </div>
</div>
